@font-face {
	font-family: 'Drift';
	src: url('../fonts/drift.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proggy';
	src: url('../fonts/ProggyTiny.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Drift';
	background-image:url('../img/bg.png');
	font-size: 12px;
}	


.floating {
	background-color: #181512;
	box-shadow: 5px 5px 10px #181512;
	padding: 10px;
	font-size: 12px;
}

#term{
	position: absolute;
	top: 80px;
	left: 100px;
	height: 300px;
	width: 400px;
}

#nametag{
	position: absolute;
	top: 500px;
	left: 140px;
	height:80px;
	width: 275px;
	color: #646a6d;
}

#gameoflife{
	position: absolute;
	top: 150px;
	left: 700px;
	color: #d6c3b6;
}

#bar{
	position:absolute;
	top: 0px;
	left: 0px;
	background-color: #181512;
	color: #8c644c;
	box-shadow: 0px 5px 10px #181512;
	text-align: center;
	width: 100%;
	padding: 2px;
}

a{
	color: #FFFFFF;
	text-decoration: none;
}
a:hover{
	color:#FFFFFF;
	text-decoration: none;
}
