---
layout: default
---

<div id="homepage-html" class="home homepage-container">
	{% include term/commands/about.html %}
</div>

<div id="homepage-terminal" class="console homepage-container">
        <div class="data">
                <div id="greeting">{% include term/greeting.txt %}</div>
                <div id="loader">{% include term/loader.txt %}</div>
		{% for command in site.commands %}
			<div id="command-{{command}}">{% include term/commands/{{command | replace:' ','\ '}}.html %}</div>
		{% endfor %}
        </div>
        <div id="terminal">
        </div>
</div>

